@import "variable";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", serif !important;
}

.container {
  padding: 10px;
}

.primary-btn {
  background-image: $secondary-color !important;
  color: $plain-white !important;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.9px;
  border: none;
  max-width: 151.47px;
  height: 58.89px;
  padding: 20px 28px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  @include flex-center;
}

.primary-btn .ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.form-btn {
  background-image: $secondary-color !important;
  color: $plain-white !important;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.9px;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0px 8px 8px 0px;
}

.form-btn .ripple {
  position: absolute;
  width: 20px;
  height: 20px;

  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

// Navbar Styles

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  flex-wrap: nowrap;
}

.container-fluid {
  padding-inline: 0;
}

.navmain {
  @include navbar-common-styles;
  height: 76.89px;
}

.navlinkholder {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.navlinkholder.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.navbuttonholder {
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.navlinkdiv {
  padding: 28px 20px;
}

.navlink {
  @include nav-link;
}

.navsmallholder {
  display: none;
}

.navlargeholder {
  display: flex;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: #000;
}

@media (max-width: 1200px) {
  .navbuttonholder {
    gap: 40px;
  }
}

@media (max-width: 991px) {
  .navlinkholder {
    display: none;
  }

  .navlinkholder.active {
    @include mobile-flex-direction;
  }

  .navbuttonholder {
    flex-direction: column;
    gap: 10px;
  }

  .navlinkdiv {
    padding: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .navmain {
    justify-content: space-between;
  }

  .navlargeholder {
    display: none !important;
  }

  .navsmallholder {
    display: flex;
  }

  .navbar {
    padding: 10px 10px;
  }
}

.navimg {
  width: 100%;
}

.navlogoimgholder {
  max-width: 250px;
}

.secondry-btn {
  @include navbar-button;
}

//Home page

.home-section {
  @include flex-center;
  width: 100%;
}

.Homesemimain {
  @include flex-center-hv;
  max-width: 1470px;
  height: 642.95px;
  width: 100%;
  flex-wrap: wrap;
  background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 16px;
  padding: 55px;
}

/* Keyframes for moving gradient */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.home-left-section {
  @include flex-dir-col;
  max-width: 680px;
  width: 50%;
}

.hometitle {
  margin-bottom: 23px;
}

.solution {
  font-size: 46px;
  line-height: 55.2px;
  font-weight: 600;
  background-image: $secondary-color;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: left;
}

.infosub {
  max-width: 464.7px;
  margin-bottom: 38px;
}

.home-right-section {
  position: relative;
  width: 50%;
}

.homemainimg {
  width: 100%;
  max-width: 680px;
  position: absolute;
  top: -295px;
  right: 0;
}

@media (max-width: 1200px) {
  .Homesemimain {
    flex-direction: column;
    height: auto;
  }

  .home-left-section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .home-right-section {
    width: 100%;
    position: relative;
    @include flex-center;
    margin-top: 20px;
  }

  .homemainimg {
    width: 100%;
    max-width: 550px;
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .home-left-section h1 {
    font-size: 1.5rem;
    line-height: 30px;
    text-align: left;
  }

  .Homesemimain {
    padding: 25px;
  }

  .home-left-section h3 {
    font-size: 1rem;
    line-height: 30px;
    text-align: left;
  }

  .custom-btn {
    font-size: 16px;
    padding: 8px 16px;
  }

  .homemainimg {
    max-width: 450px;
    top: -20px;
  }
}

@media (max-width: 575px) {
  .homeinfo h1 {
    font-size: 1.2rem;
  }

  .homeinfo h3 {
    font-size: 0.9rem;
  }

  .custom-btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  .homemainimg {
    max-width: 100%;
    top: 0;
  }
}

// ourfeature

.ourfeature-section {
  @include flex-every-center-ourfeat;
  margin-top: 360px;
  margin-bottom: 144px;
  text-align: center;
}

.ourfeaturesemimain {
  @include flex-every-center-ourfeat;
}

.ourfeatrow {
  margin: 0;
}

.ourfeaturesub {
  max-width: 582.06px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.ourfeatinfo {
  display: flex;
  text-align: left;
  gap: 20px;
}

.ourfeatcol {
  margin-bottom: 44px;
  padding: 0px 18px;
}

@media (max-width: 1200px) {
  .ourfeature-section {
    margin-top: 180px;
    margin-bottom: 77px;
  }
}

@media (max-width: 768px) {
  .ourfeature-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 575px) {
  .ourfeature-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

//perfect control

.perfect-control-section {
  @include flex-end-center-pc;
  margin-bottom: 160px;
  width: 100%;
}

.pcontrolsemimain {
  max-width: 1188.75px;
  width: 100%;
  @include flex-beet-pc;
}

.pconimage {
  width: 100%;
  max-width: 600px;
}

.perfect-control-leftsection {
  @include flex-end-center-pc;
  flex-direction: column;
  margin-top: 20px;
}

.pconinfosemimain {
  @include flex-dir-col;
  align-items: flex-start;
  max-width: 543.75px;
  text-align: left;
}

.pconinfohead {
  margin-bottom: 16px;
}

.pconinfosemihead {
  margin-bottom: 25px;
  margin-top: 16px;
}

.pconinfosubtitle {
  margin-bottom: 38px;
}

.pconinfosemigrid {
  display: flex;
  gap: 9.8px;
  text-align: left;
}

.pcongrid {
  padding: 0;
  margin-bottom: 23px;
}
.pcontrolsemimain {
  gap: 20px;
}

@media (max-width: 991px) {
  .pcontrolsemimain {
    @include flex-every-center-ourfeat;
  }

  .perfect-control-section {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .pcontrolsemimain {
    @include flex-every-center-ourfeat;
  }

  .pconimage {
    max-width: 90%;
  }

  .pconinfosemimain {
    text-align: center;
    align-items: center;
  }

  .pconinfosemihead {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .pconinfosubtitle {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .pcongrid {
    width: 100%;
  }

  .perfect-control-section {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .pconinfohead {
    font-size: 1rem;
  }

  .pconinfosemihead {
    font-size: 1.4rem;
  }

  .pconinfosubtitle {
    font-size: 0.85rem;
    margin-bottom: 20px;
  }
  .perfect-control-section {
    margin-bottom: 30px;
  }
}

//different

.difference-section {
  @include flex-beet-pc;
  gap: 20px;
}

.differnceimg {
  width: 100%;
  height: 100%;
}

.diffsemimain {
  @include flex-center;
}

.difference-left-section {
  @include flex-dir-col;
  max-width: 554.16px;
}

.diffchecksemi {
  // @include flex-center;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .difference-section {
    @include flex-every-center-ourfeat;
  }
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207.66px;
  height: 99px;
  border-radius: 8px;
  box-shadow: 0px 5px 35px 0px rgba(30, 34, 40, 0.07);
  background-color: $plain-white;
  gap: 15px;
  position: absolute;
  top: 88px;
  left: -70px;
}

.diffimg {
  position: relative;
}

.counter-text {
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  color: $primary-color;
}
.counter-text span {
  color: $primary-color;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}

/* TimeSavedChart.css */

.chart-containermain {
  width: 100%;
  display: flex;
  max-width: 230px;
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 88px;
  left: -90px;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 180px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.semi-circle-chart {
  width: 80%;
  height: auto;
  margin-top: -60px;
}
.chart-text {
  position: absolute;
  top: 63%;
  transform: translateY(-50%);
  text-align: center;
}
.percentage {
  font-size: 40px;
  font-weight: 500;
  color: $primary-color;
  line-height: 40px;
}
.persentagesymbole {
  font-size: 20px;
  font-weight: 500;
  color: $primary-color;
  line-height: 20px;
}

.chart-text p {
  font-size: 20px;
  font-weight: 600;
  color: $primary-color;
  line-height: 29px;
}

@media (max-width: 768px) {
  .counter-container {
    display: none;
  }
  .chart-containermain {
    display: none;
  }
}

//proud off

.proudof-section {
  width: 100%;
  @include flex-center;
  height: 458.19px;
  margin-top: -40px;
  z-index: 3;
}

.proudcon {
  @include flex-beet-pc;
  margin-top: 90px;
}

.proudof-infosection {
  max-width: 1470px;
  width: 100%;
  background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 16px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.proudsemimain {
  max-width: 453.33px;
}

.proudhead {
  max-width: 275.2px;
}
.proudsubhead {
  max-width: 320.4px;
}

.proudgrid {
  margin: 0;
  width: 100%;
  max-width: 906.66px;
}

.proudgridwrap {
  height: 100%;
  @include flex-all-tcenter-po;
  gap: 15px;
}

.proudgridtexthead {
  font-weight: 600;
  line-height: 41px;
  font-size: 41px;
  color: $primary-color;
}
.proudgridtextsubtitele {
  font-weight: 500;
  line-height: 28.9px;
  font-size: 17px;
  color: $accent-color;
}

.proudoff-cardsection {
  margin-top: -140px;
  z-index: 6;
}

.proudcardmain {
  width: 100%;
  justify-content: space-between;
}
.pcardcolmain {
  @include flex-dir-col;
  align-items: center;
}
.pcardholder {
  @include flex-dir-col;
  max-width: 300px;
  background-color: $plain-white;
  padding: 44px 40px;
  border-radius: 8px;
}

.pcardtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30.6px;
  color: $accent-color;
  margin-bottom: 24px;
  text-align: left;
}

.pcardsubholder {
  @include flex-dir-col;
  text-align: left;
}

.pclassname {
  font-weight: 600;
  font-size: 19px;
  line-height: 28.5px;
  color: $primary-color;
  margin-bottom: 5px;
}
.pclassrole {
  font-weight: 600;
  font-size: 17px;
  line-height: 28.5px;
  color: $accent-color;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .proudcon {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .proudsemimain {
    max-width: 100%;
    text-align: center;
  }

  .proudgrid {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
  }
  .proudoff-cardsection {
    margin-top: -60px;
    z-index: 6;
  }
}

@media (max-width: 992px) {
  .proudgridwrap {
    gap: 10px;
  }

  .proudoff-cardsection {
    margin-top: -80px;
  }

  .pcardcolmain {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .proudoff-cardsection {
    margin-top: -60px;
    z-index: 6;
  }
}

@media (max-width: 768px) {
  .proudhead {
    font-size: 1.8rem;
    max-width: 100%;
  }

  .proudsubhead {
    font-size: 1rem;
    max-width: 100%;
  }

  .proudgridtexthead {
    font-size: 2rem;
  }

  .proudgridtextsubtitele {
    font-size: 1rem;
  }

  .pcardholder {
    max-width: 90%;
    padding: 30px;
    margin: 0 auto;
  }
  .proudoff-cardsection {
    margin-top: -60px;
    z-index: 6;
  }
  .flip-card {
    height: 415.36px;
  }
}

@media (max-width: 576px) {
  .proudgrid {
    flex-direction: column;
    align-items: center;
  }

  .proudoff-cardsection {
    margin-top: -60px;
  }

  .proudhead,
  .proudsubhead {
    text-align: center;
    margin-bottom: 20px;
  }

  .pcardholder {
    padding: 20px;
    max-width: 100%;
  }

  .pcardtitle {
    font-size: 1rem;
    line-height: 1.5;
  }

  .pclassname {
    font-size: 1rem;
  }

  .pclassrole {
    font-size: 0.9rem;
  }

  .proudof-section {
    height: auto;
  }
  .proudoff-cardsection {
    margin-top: 20px;
    z-index: 6;
    @include flex-center;
  }

  .pcardholder {
    background-image: $secondary-color;
  }
  .pcardtitle {
    color: $plain-white;
  }
  .pclassname {
    color: $plain-white;
  }
  .pclassrole {
    color: $plain-white;
  }
}

.flip-card {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  height: 315.36px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card .pcardholder {
  height: 100%;
  width: 100%;
  margin: 0;
}

.flip-card-back .pcardholder {
  @include flex-center-hv;
  background-color: #f8f9fa;
  padding: 44px 40px;
}

@media (max-width: 576px) {
  .flip-card-back .pcardholder {
    background-image: var(--secondary-color);
    color: var(--plain-white);
  }

  .flip-card-back .pcardtitle {
    color: var(--plain-white);
  }
}

//whowe are

.whoweare-section {
  display: flex;
  width: 100%;
  gap: 70px;
  margin-top: 200px;
}

.whoweare-left-imagesection {
  @include flex-every-center-ourfeat;
}

.whowrap1 {
  @include flex-beet-pc;
  gap: 25px;
  align-items: end;
  margin-bottom: 25px;
}

.whoimg1,
.whoimg2,
.whoimg3 {
  width: 100%;
}

.whoweinfosemimain {
  @include flex-dir-col;
  align-items: flex-start;
  max-width: 680px;
  text-align: left;
}

.whoweinfosemihead {
  margin-bottom: 25px;
  margin-top: 16px;
  max-width: 498.73px;
}

.whoweinfosubtitle {
  margin-bottom: 38px;
  max-width: 604.65px;
}

@media (max-width: 991px) {
  .whoweare-section {
    flex-direction: column;
  }

  .whoimg1,
  .whoimg2,
  .whoimg3 {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .whoweare-section {
    flex-direction: column;
    gap: 40px;
  }

  .whoimg1,
  .whoimg2,
  .whoimg3 {
    max-width: 100%;
  }

  .whowrap1 {
    gap: 15px;
    margin-bottom: 15px;
  }

  .whoweinfosemihead {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }

  .whoweinfosubtitle {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .whoweare-section {
    flex-direction: column;
    gap: 30px;
  }

  .whoimg1,
  .whoimg2,
  .whoimg3 {
    max-width: 100%;
  }

  .whowrap1 {
    gap: 10px;
    margin-bottom: 10px;
  }

  .whoweinfosemihead {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  .whoweinfosubtitle {
    font-size: 0.875rem;
    margin-bottom: 20px;
  }
}

//semi what

.whoweare-grid-section {
  margin-top: 70px;
  margin-bottom: 154px;
}

.semiwhatconrow {
  @include flex-beet-pc;
}

.visionmain {
  display: flex;
  gap: 20px;
  max-width: 386.93px;
}
.oneholder {
  border-radius: 44px;
  background-color: $perple-round;
  color: $perple-font;
  height: 44px;
  width: 44px;
  font-weight: 18px;
  line-height: 18px;
  font-size: 600;
  @include flex-all-semi-what;
}

.visiontitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: $primary-color;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .semiwhatconrow {
    @include flex-center;
    flex-wrap: wrap;
  }

  .visionmain {
    display: flex;
    gap: 20px;
    max-width: 386.93px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .semiwhatconrow {
    @include flex-center;
  }
  .whoweare-grid-section {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .whoweare-grid-section {
    margin-top: 55px;
    margin-bottom: 90px;
  }
}

@media (max-width: 575px) {
  .whoweare-grid-section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

//contactus

.contact-section {
  @include navbar-common-styles;
  margin-bottom: 160px;
  gap: 30px;
}

.contact-right-section {
  @include flex-dir-col;
  max-width: 543.75px;
}

.consubhead {
  margin-top: 16px;
  margin-bottom: 40px;
}

.conimg {
  width: 100%;
  height: 100%;
}

.consubinfo {
  display: flex;
  gap: 20px;
}

.conaddress {
  text-decoration: none;
  font-size: $font-size-p;
  color: $accent-color;
  line-height: 28.9px;
  font-weight: 500;
  margin: 0;
}
.consecondmar {
  margin-top: 24px;
  margin-bottom: 24px;
}

@media (max-width: 991px) {
  .contact-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
  }

  .contact-right-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .consubhead {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .consubinfo {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 20px;
    font-size: 0.9rem;
    padding: 0;
  }

  .consubinfo h5 {
    font-size: 1rem;
    // margin-bottom: 5px;
  }

  .consubinfo p {
    font-size: 0.875rem;
    margin: 0;
  }

  .consecondmar {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .conimg {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-section {
    margin-bottom: 70px;
  }
}

@media (max-width: 778px) {
  .contact-section {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .contact-section {
    margin-bottom: 40px;
  }
}

.callto {
  font-size: $font-size-p;
  color: $accent-color;
  line-height: 28.9px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.mailto {
  font-size: $font-size-p;
  color: $accent-color;
  line-height: 28.9px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

//join community

.joincomunity-section {
  @include flex-center-hv;
  flex-direction: column;
  text-align: center;
  padding: 90px 0px;
  background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 16px;
  margin-bottom: 90px;
}

.joincom-buttonwrapper {
  display: flex;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.joincomsubhead {
  max-width: 671.31px;
  margin-top: 16px;
  margin-bottom: 36px;
}

@media (max-width: 991px) {
  .joincomsubhead {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .joinchead {
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .joincomunity-section {
    padding: 70px 20px;
  }
}

@media (max-width: 576px) {
  .joincomsubhead {
    font-size: 1rem;
    line-height: 1.4;
  }

  .joinchead {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .joincomunity-section {
    padding: 50px 10px;
  }
}

//footer

.footer-section {
  width: 100%;
  background-color: $plain-white;
  margin-bottom: 104px;
}

.hoverbox:hover {
  color: transparent;
  background: $secondary-color;
  background-clip: text;
  -webkit-background-clip: text;
}

.footcustomdiv {
  padding: 0px 60px;
}

.gootweblogo {
  margin-bottom: 24px;
}

.foothead {
  color: $primary-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 19px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footform {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  /* md breakpoint */
  .footdiv1,
  .foothead,
  .footformsub,
  .footform,
  .footlist,
  .no-bullets {
    text-align: center;
    font-size: 18px;
  }

  .footform {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footdiv1,
  .foothead,
  .footformsub,
  .footform,
  .footlist,
  .no-bullets {
    text-align: center;
    font-size: 16px;
  }

  .footform {
    justify-content: center;
  }
}

.footer-input {
  box-shadow: 0px 0px 25px rgba(30, 34, 40, 0.04);
  height: 41px;
  border-radius: 8px 0px 0px 8px;
  background-color: $plain-white;
  color: #959ca9;
  font-size: 15px;
  line-height: 25.5px;
  border: none;
}

//case study

.carousel-slide {
  padding: 15px;
  background-color: $plain-white;
  text-align: left;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 32px;
}

.carousel-title {
  font-size: 23px;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 21px;
  line-height: 32.2px;
}

.carousel-meta {
  font-size: 15px;
  line-height: 25.5px;
  color: $accent-color;
  align-items: center;
  display: flex;
  gap: 11px;
}

.dot {
  margin: 0px 21px 0px 0px;
  font-size: 41px;
  color: $accent-color;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #aab0bc;
  border: none;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li button::before,
.slick-dots li button::after {
  content: none !important;
}

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 4px solid #aab0bc;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots {
  position: absolute;
  bottom: -57px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.casestudy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 130px;
}

.casemainwrapara {
  max-width: 704.72px;
  margin-bottom: 46px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .casemainwrahead {
    font-size: 18px;
    line-height: 1.4;
  }

  .casemainwrapara {
    font-size: 16px;
    line-height: 1.5;
  }
  .casestudy-section {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .casemainwrahead {
    font-size: 16px;
    line-height: 1.3;
  }

  .casemainwrapara {
    font-size: 14px;
    line-height: 1.4;
  }
  .casestudy-section {
    margin-top: 40px;
  }
}
