@import "mixin";

$primary-color: #343f52; // Blue
$secondary-color: linear-gradient(90deg, #f857a6, #ef3f6e);
$accent-color: #60697b;
$plain-white: #ffffff;
$perple-round: #e6e5f4;
$perple-font: #605dba;

// Define font sizes
$font-size-h1: 46px;
$font-size-h2: 38px;
$font-size-h3: 23px;
$font-size-h4: 22px;
$font-size-h6: 16px;
$font-size-h5: 19px;
$font-size-p: 17px;

//  mixin for each element
h1 {
  @include typography($font-size-h1, $primary-color, 55.2px, 600);
}

h2 {
  @include typography($font-size-h2, #343f52, 47.5px, 600);
}

h3 {
  @include typography($font-size-h3, $accent-color, 34.5px, 500);
}

h4 {
  @include typography($font-size-h4, $primary-color, 30.8px, 600);
}

h5 {
  @include typography($font-size-h5, $primary-color, 28.5px, 600);
}

h6 {
  @include typography($font-size-h6, transparent, 21.6px, 600);
  background-image: $secondary-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  @include typography($font-size-p, $accent-color, 28.9px, 500);
}

$resFontSizeTiny: 0.85rem;
$resFontSizeCompact: 0.9rem;
$resFontSizeText: 1rem;
$resFontSizeBase: 1.2rem;
$resFontSizeMain: 1.4rem;
$resFontSizeDisplay: 1.5rem;
$resFontSizeCaption: 1.6rem;
$resFontSizeHeadingSmall: 1.75rem;
$resFontSizeHeadingMedium: 1.8rem;
$resFontSizeTitleLarge: 2rem;
$resFontSizeSubheading: 14px;
$resFontSizeBody: 16px;
$resFontSizeExtraLarge: 18px;
