@import "variable";
@import "mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", serif !important;
}

.container {
  // padding: 10px;
}

.primary-btn {
  background-image: $secondary-color !important;
  color: $plain-white !important;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.9px;
  border: none;
  max-width: 151.47px;
  height: 58.89px;
  padding: 20px 28px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  @include flex-center;
}

.primary-btn .ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.form-btn {
  background-image: $secondary-color !important;
  color: $plain-white !important;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.9px;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0px 8px 8px 0px;
}

.form-btn .ripple {
  position: absolute;
  width: 20px;
  height: 20px;

  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

// Navbar Styles

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  flex-wrap: nowrap;
}

.container-fluid {
  padding-inline: 0;
}

.navmain {
  @include navbar-common-styles;
  height: 76.89px;
}

.navlinkholder {
  @include flex-center-hv;
  transition: all 0.3s ease;
}

.navlinkholder.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  padding: 10px;
}

.navbuttonholder {
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.navlinkdiv {
  padding: 28px 20px;
}

.navlink {
  @include nav-link;
}

.navlink:hover {
  color: transparent;
  background: $secondary-color;
  background-clip: text;
  -webkit-background-clip: text;
}

.navsmallholder {
  display: none;
}

.navlargeholder {
  display: flex;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: #000;
}

@include respond-to("large") {
  .navbuttonholder {
    gap: 40px;
  }
}

@include respond-to("medium") {
  .navlinkholder {
    display: none;
  }

  .navlinkholder.active {
    @include mobile-flex-direction;
  }

  .navbuttonholder {
    flex-direction: column;
    gap: 10px;
  }

  .navlinkdiv {
    padding: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .navmain {
    justify-content: space-between;
  }

  .navlargeholder {
    display: none !important;
  }

  .navsmallholder {
    display: flex;
  }

  .navbar {
    padding: 10px 10px;
  }
}

.navimg {
  width: 100%;
}

.navlogoimgholder {
  max-width: 250px;
}

.secondry-btn {
  @include navbar-button;
}

//Home page

.home-section {
  @include flex-center;
  width: 100%;

  .Homesemimain {
    @include flex-center-hv;
    max-width: 1470px;
    height: 642.95px;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    border-radius: 16px;
    padding: 55px;

    .home-left-section {
      @include flex-dir-col;
      max-width: 680px;
      width: 50%;

      .hometitle {
        margin-bottom: 23px;

        .solution {
          font-size: 46px;
          line-height: 55.2px;
          font-weight: 600;
          background-image: $secondary-color;
          background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          display: inline-block;
          text-align: left;
        }
      }

      .infosub {
        max-width: 464.7px;
        margin-bottom: 38px;
      }
    }

    .home-right-section {
      position: relative;
      width: 50%;

      .homemainimg {
        width: 100%;
        max-width: 680px;
        position: absolute;
        top: -295px;
        right: 0;
      }
    }
  }

  @include respond-to("large") {
    .Homesemimain {
      flex-direction: column;
      height: auto;

      .home-left-section {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .home-right-section {
        width: 100%;
        position: relative;
        @include flex-center;
        margin-top: 20px;

        .homemainimg {
          width: 100%;
          max-width: 550px;
          position: relative;
          top: 0;
          right: 0;
        }
      }
    }
  }

  @include respond-to("small") {
    .Homesemimain {
      padding: 25px;

      .home-left-section {
        h1 {
          font-size: $resFontSizeDisplay;
          line-height: 30px;
          text-align: left;
        }

        .solution {
          font-size: $resFontSizeDisplay !important;
          line-height: 30px;
        }

        h3 {
          font-size: $resFontSizeText;
          line-height: 30px;
          text-align: left;
        }
      }

      .custom-btn {
        font-size: $resFontSizeBody;
        padding: 8px 16px;
      }

      .home-right-section .homemainimg {
        max-width: 450px;
        top: -20px;
      }
    }
  }

  @include respond-to("extra-small") {
    .homeinfo {
      h1 {
        font-size: $resFontSizeBase;
      }

      .solution {
        font-size: $resFontSizeBase !important;
      }

      h3 {
        font-size: $resFontSizeCompact;
      }
    }

    .custom-btn {
      font-size: $resFontSizeSubheading;
      padding: 6px 12px;
    }

    .home-right-section .homemainimg {
      max-width: 100%;
      top: 0;
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// ourfeature

.ourfeature-section {
  @include flex-every-center-ourfeat;
  margin-top: 360px;
  margin-bottom: 144px;
  text-align: center;

  .ourfeaturesemimain {
    @include flex-every-center-ourfeat;
  }

  .ourfeatrow {
    margin: 0;
  }

  .ourfeaturesub {
    max-width: 582.06px;
    margin-top: 16px;
    margin-bottom: 48px;
  }

  .ourfeatcol {
    margin-bottom: 44px;
    padding: 0px 18px;

    .ourfeatinfo {
      display: flex;
      text-align: left;
      gap: 20px;
    }
  }

  @include respond-to("large") {
    margin-top: 180px;
    margin-bottom: 77px;
  }

  @include respond-to("small") {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include respond-to("extra-small") {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

//perfect control

.perfect-control-section {
  @include flex-end-center-pc;
  margin-bottom: 160px;
  width: 100%;

  .pcontrolsemimain {
    max-width: 1188.75px;
    width: 100%;
    @include flex-beet-pc;
    gap: 20px;

    .perfect-control-leftsection {
      @include flex-end-center-pc;
      flex-direction: column;
      margin-top: 20px;

      .pconimage {
        width: 100%;
        max-width: 600px;
      }
    }

    .perfect-control-rightsection {
      .pconinfosemimain {
        @include flex-dir-col;
        align-items: flex-start;
        max-width: 543.75px;
        text-align: left;

        .pconinfohead {
          margin-bottom: 16px;
          max-width: 537.84px;
        }

        .pconinfosemihead {
          margin-bottom: 25px;
          margin-top: 16px;
        }

        .pconinfosubtitle {
          margin-bottom: 38px !important;
        }

        .pcongrid {
          padding: 0;
          margin-bottom: 23px;

          .pconinfosemigrid {
            display: flex;
            gap: 9.8px;
            text-align: left;
          }
        }
      }
    }
  }

  @include respond-to("medium") {
    margin-bottom: 80px;

    .pcontrolsemimain {
      @include flex-every-center-ourfeat;
    }
  }

  @include respond-to("small") {
    margin-bottom: 50px;

    .pcontrolsemimain {
      @include flex-every-center-ourfeat;
    }

    .perfect-control-leftsection .pconimage {
      max-width: 90%;
    }

    .perfect-control-rightsection .pconinfosemimain {
      text-align: center;
      align-items: center;

      .pconinfosemihead {
        font-size: $resFontSizeCaption;
        margin-top: 20px;
      }

      .pconinfosubtitle {
        font-size: $resFontSizeCompact;
        margin-bottom: 30px !important;
      }

      .pcongrid {
        width: 100%;
      }
    }
  }

  @include respond-to("extra-small") {
    margin-bottom: 30px;

    .perfect-control-rightsection .pconinfosemimain {
      .pconinfohead {
        font-size: $resFontSizeText;
      }

      .pconinfosemihead {
        font-size: $resFontSizeMain;
      }

      .pconinfosubtitle {
        font-size: $resFontSizeTiny;
        margin-bottom: 20px !important;
      }
    }
  }
}

//different

.difference-section {
  @include flex-beet-pc;
  gap: 20px;

  .diffsemimain {
    @include flex-center;
  }

  .difference-left-section {
    @include flex-dir-col;
    max-width: 554.16px;

    .diffinfosemihead {
      margin-top: 16px;
    }
    .diffinfosubtitle {
      margin: 25px 0px 38px 0px;
    }

    .diffchecksemi {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
    }
  }

  .diffimg {
    position: relative;

    .differnceimg {
      width: 100%;
      height: 100%;
    }

    .counter-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 207.66px;
      height: 99px;
      border-radius: 8px;
      box-shadow: 0px 5px 35px 0px rgba(30, 34, 40, 0.07);
      background-color: $plain-white;
      gap: 15px;
      position: absolute;
      top: 88px;
      left: -70px;

      .counter-text {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        color: $primary-color;

        span {
          font-size: 25px;
          font-weight: 600;
          color: $primary-color;
        }
      }
    }

    .chart-containermain {
      width: 100%;
      display: flex;
      max-width: 230px;
      height: 180px;
      position: absolute;
      bottom: 88px;
      left: -90px;

      .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 180px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;

        .semi-circle-chart {
          width: 80%;
          height: auto;
          margin-top: -60px;
        }

        .chart-text {
          position: absolute;
          top: 63%;
          transform: translateY(-50%);
          text-align: center;

          .percentage {
            font-size: 40px;
            font-weight: 500;
            color: $primary-color;
            line-height: 40px;
          }

          .persentagesymbole {
            font-size: 20px;
            font-weight: 500;
            color: $primary-color;
            line-height: 20px;
          }

          p {
            font-size: 20px;
            font-weight: 600;
            color: $primary-color;
            line-height: 29px;
          }
        }
      }
    }
  }
}

@include respond-to("medium") {
  .difference-section {
    @include flex-every-center-ourfeat;
  }
}

@include respond-to("small") {
  .counter-container {
    display: none !important;
  }

  .chart-containermain {
    display: none !important;
  }
}

//proud off

.proudof-section {
  width: 100%;
  @include flex-center;
  height: 458.19px;
  margin-top: -40px;
  z-index: 3;

  .proudof-infosection {
    max-width: 1470px;
    width: 100%;
    background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    border-radius: 16px;

    .proudcon {
      @include flex-beet-pc;
      margin-top: 90px;

      .proudsemimain {
        max-width: 453.33px;

        .proudhead {
          max-width: 275.2px;
        }

        .proudsubhead {
          max-width: 320.4px;
        }
      }

      .proudgrid {
        margin: 0;
        width: 100%;
        max-width: 906.66px;

        .proudgridwrap {
          height: 100%;
          @include flex-all-tcenter-po;
          gap: 15px;

          .proudgridtexthead {
            font-weight: 600;
            line-height: 41px;
            font-size: 41px;
            color: $primary-color;
          }

          .proudgridtextsubtitele {
            font-weight: 500;
            line-height: 28.9px;
            font-size: 17px;
            color: $accent-color;
          }
        }
      }
    }
  }
}

.proudoff-cardsection {
  margin-top: -140px;
  z-index: 6;

  .proudcardmain {
    width: 100%;
    justify-content: space-between;

    .pcardcolmain {
      @include flex-dir-col;
      align-items: center;

      .flip-card {
        perspective: 1000px;
        width: 100%;
        max-width: 300px;
        height: 315.36px;

        &:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;

          .flip-card-front,
          .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }

          .flip-card-front {
            z-index: 2;
          }

          .flip-card-back {
            transform: rotateY(180deg);

            .pcardholder {
              @include flex-center-hv;
              background-color: #f8f9fa;
              padding: 44px 40px;
            }
          }
        }

        .pcardholder {
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }

      .pcardholder {
        @include flex-dir-col;
        max-width: 300px;
        background-color: $plain-white;
        padding: 44px 40px;
        border-radius: 8px;

        .pcardtitle {
          font-weight: 500;
          font-size: 18px;
          line-height: 30.6px;
          color: $accent-color;
          margin-bottom: 24px;
          text-align: left;
        }

        .pcardsubholder {
          @include flex-dir-col;
          text-align: left;

          .pclassname {
            font-weight: 600;
            font-size: 19px;
            line-height: 28.5px;
            color: $primary-color;
            margin-bottom: 5px;
          }

          .pclassrole {
            font-weight: 600;
            font-size: 17px;
            line-height: 28.5px;
            color: $accent-color;
          }
        }
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@include respond-to("large") {
  .proudcon {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .proudsemimain {
    max-width: 100%;
    text-align: center;
  }

  .proudgrid {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
  }

  .proudoff-cardsection {
    margin-top: -60px;
    z-index: 6;
  }
}

@include respond-to("medium") {
  .proudgridwrap {
    gap: 10px;
  }

  .proudoff-cardsection {
    margin-top: -80px;
  }

  .pcardcolmain {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .proudoff-cardsection {
    margin-top: -60px;
    z-index: 6;
  }
}

@include respond-to("small") {
  .proudhead {
    font-size: $resFontSizeHeadingMedium;
    max-width: 100%;
  }

  .proudsubhead {
    font-size: $resFontSizeText;
    max-width: 100%;
  }

  .proudgridtexthead {
    font-size: $resFontSizeTitleLarge;
  }

  .proudgridtextsubtitele {
    font-size: $resFontSizeText;
  }

  .pcardholder {
    max-width: 90%;
    padding: 30px;
    margin: 0 auto;
  }

  .proudoff-cardsection {
    margin-top: -30px;
    z-index: 6;
  }

  .flip-card {
    height: 415.36px;
  }
}

@include respond-to("extra-small") {
  .proudgrid {
    flex-direction: column;
    align-items: center;
  }

  .proudoff-cardsection {
    margin-top: -60px;

    &.proudoff-cardsection {
      margin-top: 20px;
      z-index: 6;
      @include flex-center;
    }
  }

  .proudhead,
  .proudsubhead {
    text-align: center;
    margin-bottom: 20px;
  }

  .pcardholder {
    padding: 20px;
    max-width: 100%;
    background-image: $secondary-color;

    .pcardtitle {
      font-size: $resFontSizeText;
      line-height: 1.5;
      color: $plain-white;
    }

    .pclassname {
      font-size: $resFontSizeText;
      color: $plain-white;
    }

    .pclassrole {
      font-size: $resFontSizeCompact;
      color: $plain-white;
    }
  }

  .proudof-section {
    height: auto;
  }

  .flip-card-back .pcardholder {
    background-image: var(--secondary-color);
    color: var(--plain-white);

    .pcardtitle {
      color: var(--plain-white);
    }
  }
}

//whowe are

.whoweare-section {
  display: flex;
  width: 100%;
  gap: 70px;
  margin-top: 200px;

  .whoweare-left-imagesection {
    @include flex-every-center-ourfeat;

    .whowrap1 {
      @include flex-beet-pc;
      gap: 25px;
      align-items: end;
      margin-bottom: 25px;

      .whoimg1,
      .whoimg2,
      .whoimg3 {
        width: 100%;
      }
    }
  }

  .whoweare-right-section {
    .whoweinfosemimain {
      @include flex-dir-col;
      align-items: flex-start;
      max-width: 680px;
      text-align: left;

      .whoweinfosemihead {
        margin-bottom: 25px;
        margin-top: 16px;
        max-width: 498.73px;
      }

      .whoweinfosubtitle {
        margin-bottom: 38px;
        max-width: 604.65px;
      }
    }
  }
}

.diffsmallgrid {
  padding: 0;
  margin-bottom: 23px;
}
.diffinfosemigrid {
  display: flex;
  gap: 9.8px;
  text-align: left;
}

@include respond-to("small") {
  .diffsmallgrid {
    width: 100%;
  }
}

// Use mixin for large screens and below
@include respond-to("medium") {
  .whoweare-section {
    flex-direction: column;
    gap: 40px;

    .whoimg1,
    .whoimg2,
    .whoimg3 {
      max-width: 100%;
    }

    .whowrap1 {
      gap: 15px;
      margin-bottom: 15px;
    }

    .whoweinfosemihead {
      font-size: 1.75rem;
      margin-bottom: 15px;
    }

    .whoweinfosubtitle {
      font-size: 1rem;
      margin-bottom: 25px;
    }
  }
}

@include respond-to("extra-small") {
  .whoweare-section {
    flex-direction: column;
    gap: 30px;

    .whoimg1,
    .whoimg2,
    .whoimg3 {
      max-width: 100%;
    }

    .whowrap1 {
      gap: 10px;
      margin-bottom: 10px;
    }

    .whoweinfosemihead {
      font-size: 1.5rem;
      margin-bottom: 12px;
    }

    .whoweinfosubtitle {
      font-size: 0.875rem;
      margin-bottom: 20px;
    }
  }
}

//semi what
.whoweare-grid-section {
  margin-top: 70px;
  margin-bottom: 154px;

  .semiwhatconrow {
    @include flex-beet-pc;

    .visionmain {
      display: flex;
      gap: 20px;
      max-width: 386.93px;

      .oneholder {
        border-radius: 44px;
        background-color: $perple-round;
        color: $perple-font;
        height: 44px;
        width: 44px;
        font-weight: 600;
        line-height: 18px;
        font-size: 18px;
        @include flex-all-semi-what;
      }

      .visiontitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: $primary-color;
        margin-bottom: 14px;
      }
    }
  }
}

@include respond-to("small") {
  .semiwhatconrow {
    @include flex-center;
    flex-wrap: wrap;
  }

  .visionmain {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .whoweare-grid-section {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@include respond-to("medium") {
  .whoweare-grid-section {
    margin-top: 55px;
    margin-bottom: 90px;
  }
}

@include respond-to("extra-small") {
  .whoweare-grid-section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

//contactus

.contact-section {
  @include navbar-common-styles;
  margin-bottom: 160px;
  gap: 30px;

  .contact-left-section {
  }

  .contact-right-section {
    @include flex-dir-col;
    max-width: 543.75px;

    .consubhead {
      margin-top: 16px;
      margin-bottom: 40px;
    }

    .consubinfo {
      display: flex !important;
      gap: 20px;

      &.consecondmar {
        margin-top: 24px;
        margin-bottom: 24px;
      }

      div {
        display: flex;
        flex-direction: column;

        h5 {
          font-size: 1.125rem;
          font-weight: 600;
        }

        p {
          margin: 0;

          a {
            text-decoration: none;
            font-size: $font-size-p;
            color: $accent-color;
            line-height: 28.9px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .conimg {
    width: 100%;
    height: 100%;
  }

  // For medium screen sizes
  @include respond-to("medium") {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;

    .contact-right-section {
      max-width: 100%;
      padding: 0 20px;
    }

    .consubhead {
      margin-top: 16px;
      margin-bottom: 20px;
      font-size: 1.5rem;
      line-height: 1.5;
    }

    .consubinfo {
      flex-direction: row;
      margin-bottom: 20px;
      font-size: 0.9rem;
      padding: 0;

      h5 {
        font-size: 1rem;
      }

      p {
        font-size: 0.875rem;
      }
    }

    .consecondmar {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .conimg {
      width: 100%;
      margin-bottom: 20px;
    }

    .contact-section {
      margin-bottom: 70px;
    }
  }

  // For small screen sizes
  @include respond-to("small") {
    .contact-section {
      margin-bottom: 50px;
    }
  }

  // For extra-small screen sizes
  @include respond-to("extra-small") {
    .contact-section {
      margin-bottom: 40px;
    }
  }
}

// Call and mail links
.callto,
.mailto {
  font-size: $font-size-p;
  color: $accent-color;
  line-height: 28.9px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

.conaddress {
  text-decoration: none;
  font-size: $font-size-p;
  color: $accent-color;
  line-height: 28.9px;
  font-weight: 500;
  margin: 0;
}

//join community

.joincomunity-section {
  @include flex-center-hv;
  flex-direction: column;
  text-align: center;
  padding: 90px 0px;
  background: linear-gradient(45deg, #ffccff, #b3d9ff, #e0f7fa, #ffccff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 16px;
  margin-bottom: 90px;

  .joincom-buttonwrapper {
    display: flex;
    justify-content: center;
  }

  .joincomsubhead {
    max-width: 671.31px;
    margin-top: 16px;
    margin-bottom: 36px;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  // Medium screen size adjustments
  @include respond-to("medium") {
    .joincomsubhead {
      font-size: $resFontSizeBase;
      line-height: 1.5;
    }

    .joinchead {
      font-size: $resFontSizeMain;
      line-height: 1.4;
    }

    padding: 70px 20px;
  }

  // Extra-small screen size adjustments
  @include respond-to("extra-small") {
    .joincomsubhead {
      font-size: $resFontSizeText;
      line-height: 1.4;
    }

    .joinchead {
      font-size: $resFontSizeBase;
      line-height: 1.3;
    }

    padding: 50px 10px;
  }
}

//footer

.footer-section {
  width: 100%;
  background-color: $plain-white;
  margin-bottom: 104px;
}

.hoverbox:hover {
  color: transparent;
  background: $secondary-color;
  background-clip: text;
  -webkit-background-clip: text;
}

.footcustomdiv {
  padding: 0px 60px;
}

.gootweblogo {
  margin-bottom: 24px;
}

.foothead {
  color: $primary-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 19px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footform {
  display: flex;
  margin-top: 30px;
  flex-wrap: nowrap;
}

@include respond-to("medium") {
  .footdiv1,
  .foothead,
  .footformsub,
  .footform,
  .footlist,
  .no-bullets {
    text-align: center;
    font-size: 18px;
  }

  .footform {
    justify-content: center;
  }
}

@include respond-to("small") {
  .footdiv1,
  .foothead,
  .footformsub,
  .footform,
  .footlist,
  .no-bullets {
    text-align: center;
    font-size: 16px;
  }

  .footform {
    justify-content: center;
  }
}

.footer-input {
  box-shadow: 0px 0px 25px rgba(30, 34, 40, 0.04);
  height: 41px;
  border-radius: 8px 0px 0px 8px;
  background-color: $plain-white;
  color: #959ca9;
  font-size: 15px;
  line-height: 25.5px;
  border: none;
}


// case study

.carousel-slide {
  padding: 15px;
  background-color: $plain-white;
  text-align: left;
}

.carousel-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 32px;
}

.carousel-title {
  font-size: 23px;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 21px;
  line-height: 32.2px;
}

.carousel-meta {
  font-size: 15px;
  line-height: 25.5px;
  color: $accent-color;
  align-items: center;
  display: flex;
  gap: 11px;
}

.dot {
  margin: 0px 21px 0px 0px;
  font-size: 41px;
  color: $accent-color;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: #aab0bc;
  border: none;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li button::before,
.slick-dots li button::after {
  content: none !important;
}

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 4px solid #aab0bc;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots {
  position: absolute;
  bottom: -57px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.casestudy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 130px;
}

.casemainwrapara {
  max-width: 704.72px;
  margin-bottom: 46px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .casemainwrahead {
    font-size: 18px;
    line-height: 1.4;
  }

  .casemainwrapara {
    font-size: 16px;
    line-height: 1.5;
  }
  .casestudy-section {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .casemainwrahead {
    font-size: 16px;
    line-height: 1.3;
  }

  .casemainwrapara {
    font-size: 14px;
    line-height: 1.4;
  }
  .casestudy-section {
    margin-top: 40px;
  }
}
